
.navbar {
    background-color: #16a085;
}
nav div a img {
    background-color: #16a085;
}
.nav .div .div .li .a {
    color: white;
}
#categorias {
    background-color: #eeeeee;
}


/* LOGOS */
#logosMarcas {
    grid-area: logos;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    height: auto;
}

.logosMarcas a img {
    width: 220px;
    height: auto;
    padding: 0 auto;
    margin: 0 auto;
    vertical-align: middle;
}

div.collage img {
    background: white;
    transition: background ease-in .3s;
    transition: transform .2s;
    margin: 0 auto;
}
div.collage img:hover {/* 
    filter: grayscale(.95); */
    filter: brightness(1.5);
    transform: scale(1.02);
}

@media (max-width:450px){
    .navbar{
    }
    /* CATEGORIAS */
    .categorias {grid-template-areas: "foto1"
        "foto2"
        "foto4"
        "foto5"
        "foto6";
    }
    .logoTodoExplosion img {
        display: none;
    }
    .carousel-item img {
        height: 500px;
    }
}






@media (min-width: 450px) {

    
    /* FORMULARIO */
    form {
        width: 450px;
    }
    .form-outline {
        justify-content: center;
    }


    .categorias{
        display: grid;
        width: 100%;
        gap: 2px 5px;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "foto1 foto2 foto6"
                             "foto4 foto5 foto6";
    }
    
    .marca1 {
        grid-area: foto1;
        padding: 9px;
    }
    .marca2 {
        grid-area: foto2;
        padding: 9px;
    }
    /* .marca3 {
        grid-area: foto3;
        padding: 9px;
    } */
    .marca4 {
        grid-area: foto4;
        padding: 9px;
    }
    .marca5 {
        grid-area: foto5;
        padding: 9px;
    }
    .marca6 {
        grid-area: foto6;
        padding: 0px;
    }
    
    
    .marca1 a img{
        border-radius: 1.5%;
    }
    .marca2 a img{
        border-radius: 1.5%;
    }
    /* .marca3 a img{
        border-radius: 1.5%;
    } */
    .marca4 a img{
        border-radius: 1.5%;
    }
    .marca5 a img{
        border-radius: 1.5%;
    }
    .marca6 a img{
        border-radius: 1.5%;
        width: 95%;
    }
}
