
.navbar {
    background-color: #16a085;
}
nav div a img {
    background-color: #16a085;
}
.nav .div .div .li .a {
    color: white;
}
#categorias {
    background-color: #eeeeee;
}


/* LOGOS */
#logosMarcas {
    grid-area: logos;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    height: auto;
}

.logosMarcas a img {
    width: 220px;
    height: auto;
    padding: 0 auto;
    margin: 0 auto;
    vertical-align: middle;
}

div.collage img {
    background: white;
    transition: background ease-in .3s;
    transition: transform .2s;
    margin: 0 auto;
}
div.collage img:hover {/* 
    filter: grayscale(.95); */
    filter: brightness(1.5);
    transform: scale(0.98);
}




.product-container {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}





@media (max-width:450px){
    .logoTodoExplosion img {
        width: auto;
        height: 100px;
    }
    /* CATEGORIAS */
    .categorias {grid-template-areas: "foto1"
        "foto2"
        "foto4"
        "foto5"
        "foto6";
    }
    .navbar .container-fluid{
        display: flex;
        flex-direction: column;
    }
    .carousel-item img {
        height: 500px;
    }
}






@media (min-width: 450px) {

    
    /* FORMULARIO */
    form {
        width: 450px;
    }
    .form-outline {
        justify-content: center;
    }


    .categorias{
        display: grid;
        width: 100%;
        gap: 2px 5px;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "foto1 foto2 foto6"
                             "foto4 foto5 foto6";
    }
    
    .marca1 {
        grid-area: foto1;
        padding: 9px;
    }
    .marca2 {
        grid-area: foto2;
        padding: 9px;
    }
    /* .marca3 {
        grid-area: foto3;
        padding: 9px;
    } */
    .marca4 {
        grid-area: foto4;
        padding: 9px;
    }
    .marca5 {
        grid-area: foto5;
        padding: 9px;
    }
    .marca6 {
        grid-area: foto6;
        padding: 0px;
    }
    
    
    .marca1 a img{
        border-radius: 1.5%;
    }
    .marca2 a img{
        border-radius: 1.5%;
    }
    /* .marca3 a img{
        border-radius: 1.5%;
    } */
    .marca4 a img{
        border-radius: 1.5%;
    }
    .marca5 a img{
        border-radius: 1.5%;
    }
    .marca6 a img{
        border-radius: 1.5%;
        width: 95%;
    }
}
